.tip-content {
  background-color: white;
  display: flex;
  border-radius: 30rpx;
  padding: 20rpx;
  .img {
    width: 240rpx;
    height: 240rpx;
    margin-top: -70rpx;
    margin-left: -20rpx;
    flex-shrink: 0;
  }
  .right {
    width: 380rpx;
    word-break: break-word;
  }
  .title {
    font-size: 32rpx;
    font-weight: bold;
  }
}
.tip-btn {
  margin-left: 240rpx !important;
  width: 200rpx !important;
  border-radius: 60rpx;
  margin-top: 40rpx;
  padding: 10rpx;
  font-size: 28rpx;
  font-weight: normal;
}